* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
    font-style: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
    display: flex;
    background-color: aliceblue;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

}

.list {
    display: flex;
    justify-content: space-around;
    width: 20vw;
    align-items: center;
}

.list li {
    font-size: 1.2rem;
    width: 100px;
    transition: all 0.5s ease-in-out;
    border: 1px solid black;
    box-shadow: 1px 1px 5px rgb(0, 0, 0);
    padding: 0.5rem;
    border-radius: 10px;
    text-align: center;
}

.list li:hover {
    color: red;
    box-shadow: none;
}


h2 {
    animation: bounce 2s infinite;
    margin: 1rem;
}

